@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    --fonte-primaria: "Lexend", sans-serif;
    --color-top: #ffc0cb; /* cor superior do gradiente (rosa claro) */
    --color-bottom: #ffffff; /* cor inferior do gradiente (branco) */
}

html, body{
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

.degrade{
    height: 120px; 
    width: 100%;
    background: linear-gradient(180deg, var(--color-top) 0%, var(--color-bottom) 100%);
}

body{
    background-color: pink;
}

.titulo{
    text-align: center;
    font-family: var(--fonte-primaria);
    text-decoration: underline;
}

.principal{
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 90px;
}

.borda_apresentacao{
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;  
}

.apresentacao{
    width: 50%;  
    text-align: justify;
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;   
}

.fotoLucy{
    width: 23%;
    border: 2px solid black;
    border-radius: 8px;
}

.fotoMesa{
    display: block;
    margin: 20px auto 0;
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.principal_2{
    background-color: white;
}

.texto_produtos{
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    text-align: center;
}